{% extends 'base.html.twig' %}

{% block title %}Threads Index{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-4">Threads Index</h1>

        {% if threads is not empty %}
            <div class="row row-cols-1 row-cols-md-2 g-4">
                {% for thread in threads %}
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-body">
                                <a href="{{ path('threads_show', {'threadId': thread.threadId}) }}" class="card-title fs-4 fw-bold">{{ thread.title }}</a>
                                <p class="card-text">
                                    {% if thread.content|length > 100 %}
                                        {{ thread.content|slice(0, 100)|striptags ~ '...' }}
                                    {% else %}
                                        {{ thread.content |striptags }}
                                    {% endif %}
                                </p>
                            </div>
                            <div class="card-footer text-muted">
                                <p>CreatedAt: {{ thread.createdAt ? thread.createdAt|date('Y-m-d H:i:s') : '' }}</p>
                                <a href="{{ path('app_threads_edit', {'threadId': thread.threadId}) }}" class="btn btn-secondary">Edit</a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-body">
                                <p class="card-text">No records found</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No threads found.</p>
        {% endif %}

        <a href="{{ path('app_threads_new') }}" class="btn btn-success mt-4">Create New Thread</a>
    </div>
{% endblock %}
