<form method="post">
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    
    <div class="form-group row mb-3">
        <label for="title" class="col-sm-2 col-form-label">Title of the Project</label>
        <div class="col-sm-10">
            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    
    <div class="form-group row mb-3">
        <label for="description" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    
    <div class="form-group row mb-3">
        <label for="categories" class="col-sm-2 col-form-label">Categories</label>
        <div class="col-sm-10">
            {{ form_widget(form.categories, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    
    <div class="form-group row">
        <div class="col-sm-10 offset-sm-2">
            <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
        </div>
    </div>
    
    {{ form_end(form) }}
</form>
