{% extends 'base.html.twig' %}

{% block title %}Projects{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Projects</h1>
    
    <!-- Button for creating a new project -->
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% for role in app.user.getRoles %}
	{% if role == "ROLE_ADMIN" %}   
    <a href="{{ path('app_project_newb') }}" class="btn btn-success mt-3 mb-3"><i class="fas fa-plus"></i> New Project</a>
    {% endif %}
    {% endfor %}
    {% endif %}
   {# Formulaire de recherche #}
        <form action="{{ path('app_project_index') }}" method="get" class="form-inline mb-3">
            <div class="form-group">
                <input type="text" name="q" class="form-control" placeholder="Search by ......">
            </div>
            <button type="submit" class="btn btn-primary ml-2">Search</button>
        </form>


    <div class="row" id="project-list">
        {% for project in projects %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <p class="card-text">{{ project.description }}</p>
                    {% if project.categories %}
                        <p class="card-text">Category: {{ project.categories.name }}</p>
                    {% endif %}
                  
                    {% if project.projetFich %}
                        <p class="card-text">File: {{ project.projetFich }}</p>
                    {% endif %}

                    <a href="{{ path('app_project_show', {'id': project.id}) }}" class="btn btn-primary mr-2"><i class="fas fa-eye"></i> Show</a>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% for role in app.user.getRoles %}
				    {% if role == "ROLE_ADMIN" %}   
                        <a href="{{ path('app_project_edit', {'id': project.id}) }}" class="btn btn-warning mr-2"><i class="fas fa-edit"></i> Update</a>
                        <form action="{{ path('app_project_delete', {'id': project.id}) }}" method="post" style="display: inline;">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ project.id) }}">
                            <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete project {{ project.title }}?')"><i class="fas fa-trash-alt"></i> Delete</button>
                        </form>
                    {% endif %}
                    {% endfor %}
                    {% endif %}

                    <!-- Button for generating PDF -->
                    <a href="{{ path('app_project_pdf', {'id': project.id}) }}" class="btn btn-secondary mb-3"><i class="fas fa-file-pdf"></i> Generate PDF</a>
                    
                </div>
            </div>
        </div>
        {% endfor %}
              {{ knp_pagination_render(projects) }}
    </div>
</div>
<style>
   span{margin: 0;padding: 0;}
        .pagination {
            display: flex;
            justify-content: center;
            list-style-type: none;
            padding: 0;
            gap:.25em;
        }

        .pagination li {
            margin: 0 5px;
        }

        .pagination a {
            text-decoration: none;
            color: #007bff;
            border: 1px solid #007bff;
            padding: 6px 12px;
            border-radius: 4px;
            transition: background-color 0.3s ease;
        }

        .pagination a:hover {
            background-color: #007bff;
            color: #fff;
        }

        .pagination .current {
            font-weight: bold;
            background-color: #007bff;
            color: #fff;
            border: 1px solid #007bff;
            padding: 6px 12px;
            border-radius: 4px;
            margin-top: -7px;            }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Vérifiez si le navigateur prend en charge les notifications
        if (!("Notification" in window)) {
            console.log("Ce navigateur ne supporte pas les notifications de bureau");
        } else {
            // Demandez la permission à l'utilisateur
            if (Notification.permission !== 'granted') {
                Notification.requestPermission();
            }
        }

        // Fonction pour afficher une notification
        function showNotification(message) {
            // Vérifiez si la permission a été accordée
            if (Notification.permission === 'granted') {
                // Créez une nouvelle notification
                var notification = new Notification('Notification', {
                    body: message
                });
            }
        }

        // Récupérez les messages flash de succès
        var flashMessages = {{ app.session.flashBag.get('success') | json_encode | raw }};
        if (flashMessages) {
            // Affichez la première notification
            showNotification(flashMessages[0]);
        }
    });
</script>

{% endblock %}
