{% extends 'base.html.twig' %}
{% block title %}New Project{% endblock %}

{% block body %}
<form method="post" novalidate>

<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">New Project</h1>

            <div class="card-text">
                <form method="post" enctype="multipart/form-data">
                    {{ form_start(form) }}
                    
                    <div class="mb-3">
                        {{ form_row(form.title, {'attr': {'class': 'form-control', 'placeholder': 'Enter project title'}}) }}
                    </div>
                    
                    <div class="mb-3">
                        {{ form_row(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Enter project description'}}) }}
                    </div>
                    
                    <div class="mb-3">
                        {{ form_row(form.categories, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    
                    <div class="mb-3">
                        <label for="projet_fich" class="form-label">Project File</label>
                        {{ form_row(form.projet_fich, {'attr': {'class': 'form-control-file'}}) }}
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Create</button>
                    
                    {{ form_end(form) }}
                </form>
            </div>
            
            <a href="{{ path('app_project_index') }}" class="btn btn-secondary mt-3"><i class="fas fa-arrow-left"></i> Back to List</a>
        </div>
    </div>
</div>
{% endblock %}
