{% extends 'base.html.twig' %}

{% block title %}Events index{% endblock %}

{% block body %}

    <h1 class="text-center mb-4">Event List</h1>
    <div class="text-center"> 
        <a href="{{ path('app_events_new') }}" class="btn btn-success">
            <i class="fas fa-plus-circle"></i> Create new
        </a>
    </div>

    <div class="row">
        {% for event in events %}
            <div class="col-md-4">
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                    <div class="case-item position-relative overflow-hidden rounded mb-2">
                        <img class="img-fluid" src="{{asset('img/feature.png')}}" alt="">
                        <a class="case-overlay text-decoration-none" href="">
                            <small></small>
                            <h5 class="lh-base text-white mb-3"> </h5>
                            <span class="btn btn-square btn-primary"><i class="fa fa-arrow-right"></i></span>
                        </a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ event.titreevent }}</h5>
                        <p class="card-text">date: {{ event.date }}</p>

          {% set datesystem = dateSysteme.timestamp %}

{# Convertir la date de l'événement en timestamp Unix #}
{% set eventTimestamp = event.date|date('U') %}

{# Calculer la différence entre les timestamps #}
{% set differenceInSeconds = eventTimestamp - datesystem %}
{% set differenceInDays = differenceInSeconds / (60 * 60 * 24) %}

{# Arrondir le nombre de jours à l'entier le plus proche #}
{% set nombre_de_jours = differenceInDays|round %}


        
                        <p class="card-text">Lieu: {{ event.lieu }}</p>
                        
                        <p class="card-text">Prix: {{ event.prix }}</p>
                        <p class="card-text">NbMax: {{ event.nbMax }}</p>
                        {% if differenceInDays >= 0 %}
    <p class="card-text">Nombre de jours restant: {{ nombre_de_jours }}</p>
    <a href="{{ path('participate_event', {'id': event.idEvent}) }}" class="btn btn-primary">Participer</a>
     <a href="{{ path('app_events_show', {'idEvent': event.idEvent}) }}" class="btn btn-primary">
                            <i class="fas fa-eye"></i> Show
                        </a>
                        <a href="{{ path('app_events_edit', {'idEvent': event.idEvent}) }}" class="btn btn-secondary">
                            <i class="fas fa-edit"></i> Edit
                        </a>
                        <a href="{{ path('app_events_delete', {'idEvent': event.idEvent}) }}" class="btn btn-danger">
                            <i class="fas fa-trash-alt"></i> Delete
                        </a>
{% else %}
    <p class="card-text">Cet événement est passé</p>
{% endif %}
                        
                       
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col">
                <p>No records found</p>
            </div>
        {% endfor %}
        {{knp_pagination_render(events) }}
    </div>
    <style>
   span{margin: 0;padding: 0;}
        .pagination {
            display: flex;
            justify-content: center;
            list-style-type: none;
            padding: 0;
            gap:.25em;
        }

        .pagination li {
            margin: 0 5px;
        }

        .pagination a {
            text-decoration: none;
            color: #007bff;
            border: 1px solid #007bff;
            padding: 6px 12px;
            border-radius: 4px;
            transition: background-color 0.3s ease;
        }

        .pagination a:hover {
            background-color: #007bff;
            color: #fff;
        }

        .pagination .current {
            font-weight: bold;
            background-color: #007bff;
            color: #fff;
            border: 1px solid #007bff;
            padding: 6px 12px;
            border-radius: 4px;
            margin-top: -7px;            }
</style>
{% endblock %}
